body{
    width: 100%;
}
.sectionup{
    background-color: #e43134;
    width: 100%;
    height: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.sectionup__text{
    
}
.sectionup__a{
    width: 100%

}
.sectionup__img{

  


}
.navbar__ul{
    display: flex;
    justify-content: space-between;
    
    list-style: none;

}
.navbar__ul__enlace{
    list-style: none;
    text-decoration: none;
}








/* Esenciales */
.mb{
    border: blue solid 2px;
}
.mr{
    border: red solid 2px;
}
.sectionup__img{

    width: 100%;
    object-fit: cover;


}