body{
   width: 100%;
   overflow: auto; 
}
/* Caracteristicas del header */
.header__line{
    width: 100%;
    background-color: #E43134;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;  
}
h1{
    font-family: 'Evolitta';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.22em;
    color: #FFFFFF;
    padding-left: 30px; 
}
.header__logos{
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-right: 20px;
}

.header__img{
    width: 40px;
    object-fit: cover;
    border: 3px solid #252525;
    border-radius: 300px;
    padding: 6px 6px 6px 6px; 
}
.header__img:hover{
    border: 3px dotted white;
}
/* Caracterisiticas del nav */
.nav__line{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.nav__logo{
    width: 400px;
    margin-left: 20px;
}
.nav__menu{
    width: 60%;
    margin-right: 20px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
.nav__menu__li{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    border: #252525 solid 4px;
    background: rgba(228, 49, 52, 0.2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.nav__menu__enlace{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: 'Evolitta';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #252525;
    text-align: center;
    letter-spacing: 0.22em;
    padding: 5px;
}
.nav__menu__li:hover{
    background-color: #E43134;
}
.nav__menu__enlace:hover{
    color: #FFFFFF;
}
/* Caracteristicas secction1 */
.secction1{
    background-image: url(../Img/Secction1.webp);
    background-size: cover;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
    display: flex;
    flex-flow: column wrap;
}
.secction1__text{
    font-family: Evolitta;
    font-size: 64px;
    letter-spacing: 0.22em;
    color:#E43134;
}
.secction1__text__left{
    display: flex;
    justify-content: flex-start;
    padding-left: 160px;
}
.secction1__text__center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
}

.secction1__text2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

}
.secction1__text2__text{
    font-family: Evolitta;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.22em;
    text-align: center;
    width: 50%;
}
.secction1__button{
    width: 70%;
    height: 60px;
    background: #E43134;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 200px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.22em;
}
.secction1__button:hover{
    background: rgba(228, 49, 52, 0.2);
    color:#E43134;
}




/* Esenciales */
.mb{
    border: blue solid 2px;
}
.mr{
    border: red solid 2px;
}


