body{
   width: 100%;
   overflow: auto; 
}
/* Caracteristicas del header */
.header__line{
    width: 100%;
    background-color: #E43134;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;  
}
h1{
    font-family: 'Evolitta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.22em;
    color: #FFFFFF;
    padding-left: 30px; 
}
.header__logos{
    width: 20%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header__img{
    width: 20px;
    object-fit: cover;
    border: 3px solid #252525;
    border-radius: 300px;
    padding: 6px 6px 6px 6px; 
}
.header__img:hover{
    border: 3px dotted white;
}
/* Caracterisiticas del nav */
.nav__line{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.nav__logo{
    width: 300px;
    
}
.nav__menu{
    width: 60%;
    margin-right: 20px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav__menu__li{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    border: #252525 solid 4px;
    background: rgba(228, 49, 52, 0.2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.nav__menu__li ul li{
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
    align-items: center;
    border: #252525 solid 4px;
    background: rgba(228, 49, 52, 0.2);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.nav__menu__li ul li:hover{
    background-color: #E43134
}
.nav__menu__enlace{
    display: flex;
    text-decoration: none;
    list-style: none;
    font-family: 'Evolitta';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #252525;
    text-align: center;
    letter-spacing: 0.22em;
    padding: 5px;
}
.nav__menu__li:hover{
    background-color: #E43134;
}
.nav__menu__enlace:hover{
    color: #FFFFFF;
}
.desplegable{
    display: none;
}
.desplegable:hover{
    display: block;
}

.dropdown {
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    top: 110px;
    left: -14px;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* Caracteristicas secction1 */
.secction1{
    background-image: url(../Img/Secction1.webp);
    background-size: cover;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat; 
    display: flex;
    flex-flow: column wrap;
}
.secction1__text{
    font-family: Evolitta;
    font-size: 64px;
    letter-spacing: 0.22em;
    color:#E43134;
}
.secction1__text__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 160px;
}
.secction1__text__center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
}

.secction1__text2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.secction1__text2__left{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 30px;
}
.secction1__text2__text{
    font-family: Evolitta;
    font-size: 32px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.22em;
    text-align: center;
    width: 50%;
}
.secction1__button{
    padding: 20px;
    background: #E43134;
    border-radius: 200px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.22em;
    
}
.secction1__button:hover{
    background: rgba(228, 49, 52, 0.2);
    color:#E43134;
}
/* Caracteristicas del slider */
.slider{
    display: flex;
    flex-flow: column wrap;
    flex-direction: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;

}
.slider__text1{
    border-bottom:#E43134 solid 3px;
    height: auto;
    font-family: 'Evolitta';
    font-size: 32px;
}
.slider__text2{
    font-family: 'ABeeZee';
    font-style: normal;
    font-size: 20px;

}

.slider__slider {
    display: flex;
    overflow-x: scroll;
    width: 70%;
}

.slider__slider__img {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    object-fit: cover;
    padding-left: 90px;
}
/* .slider__slider__img {
    flex: 0 0 auto;
    height: 300px;
    margin-right: 20px;
    scroll-snap-align: start;
    object-fit: contain;
    padding-left: 90px;
} */
/* Caracteristicas Secction2 */
.secction2{
    background-image: url(../Img/Secction2.webp);
    background-size: cover;
    width: 100%;
    height: 851px;
    background-position: 10% 78%;
    background-repeat: no-repeat;
    margin-top: 40px; 
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: start;
   
}
.secction2__box{
    width: 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.secction2__text {
    font-family: Evolitta;
    font-size: 32px;
    letter-spacing: 0.22em;
    text-align: center;
    margin-top: 100px;
    width: 100%;
}
.secction2__button{
    padding: 20px;
    background: #E43134;
    border-radius: 200px;
    font-family: 'ABeeZee';
    font-style: normal;
    font-size: 50px;
    display: flex;
    flex-flow: row wrap-reverse;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.22em;
}
.secction2__button:hover{
    background: rgba(228, 49, 52, 0.2);
    color:#E43134;
}
/* Caracteristicas de la Seccion 3 */
.secction3{
    margin: 100px;
}
.secction3__box1{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.secction3__text1{
    border-bottom:#E43134 solid 3px;
    height: auto;
    font-family: 'Evolitta';
    font-size: 32px;
    text-align: center;
}
.secction3__text2{
    font-family: 'ABeeZee';
    font-style: normal;
    font-size: 20px;
    width: 12%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.secction3__box2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.secction3__left{
    width: 45%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}
.secction3__right{
    width: 45%;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.secction3__box2__box1{
    background: url(../Img/secction3__box2__box1.webp);
    margin-bottom: 20px;
    height: 500px;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'Evolitta';
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.175em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #E43134 solid 4px;
}
.secction3__box2__box1 img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-position: center; 
    z-index: 1;
    overflow: auto;
}
.secction3__box2__box1 p{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    overflow: auto;
    color: #FFFFFF;
}
.secction3__box2__box1 img:hover{
    transform: scale(1.4);
    transition: 0.6s;
}

.secction3__box2__box1 p:hover{
    color: #252525;
}
.secction3__box2__box2{
    background: url(../Img/secction3__box2__box2.webp);
    height: 500px;
    width: 100%;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'Evolitta';
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.175em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #E43134 solid 4px;
}
.secction3__box2__box2 img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-position: center; 
    overflow: auto;   
    z-index: 1;
}
.secction3__box2__box2 p{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: absolute;
    z-index: 2;
}
.secction3__box2__box2 img:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.secction3__box2__box2 p{
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
}
.secction3__box2__box2 p:hover{
    color: #E43134
}
.secction3__box2__box3{
    background: url(../Img/secction3__box2__box3.webp);
    margin-bottom: 20px;
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    font-family: 'Evolitta';
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.175em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #252525 solid 4px;
}
.secction3__box2__box3 img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-position: center;    
    z-index: 1;
    overflow: auto;
}
.secction3__box2__box3 p{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    color: #FFFFFF;
}
.secction3__box2__box3 img:hover{
    transform: scale(1.4);
    transition: 0.6s;
}

.secction3__box2__box3 p:hover{
    color: #E43134
}
.secction3__box2__box4{
    background: url(../Img/secction3__box2__box4.webp);
    height: 500px;
    width: 100%;
    background-position: center;
    box-sizing: border-box;
    background-size: cover;
    font-family: 'Evolitta';
    font-style: normal;
    font-size: 48px;
    letter-spacing: 0.175em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #E43134 solid 4px;
}
.secction3__box2__box4 img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    background-size: cover;
    overflow: auto;   
    z-index: 1;
    overflow: auto;
}
.secction3__box2__box4 p{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: absolute;
    z-index: 2;
}
.secction3__box2__box4 img:hover{
    transform: scale(1.1);
    transition: 0.6s;
}
.secction3__box2__box4 p{
    z-index: 2;
    color: #FFFFFF;
    text-align: center;
}
.secction3__box2__box4 p:hover{
    color: #252525
}
.secction5__line{
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
}
/* Caracteristicas de las resenas */
.resenas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgba(228, 49, 52, 0.2);
}
  
  /*Caja que engloba las 3 cajas*/
  .resenas__divmaster{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 3%;
      width: 74%;
    
  }
  /*Caja de principal de la reseña*/
  .resenas__box1{
      display: flex;
      flex: 1 0;
      height: 250px;
      flex-direction: column;
      background-color: ghostwhite;
      border-radius: 20px;
      border-color: 2px solid white;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 25%);
      justify-content: space-around;
      align-content: center;
      padding: 15px;
      margin: 2%;
  }
  h2{
    font-family: 'Evolitta';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 56px;
    text-align: center;
    color: #000000;
    padding-bottom: 20px;
    border-bottom: #E43134 solid 4px;
  }
  /*Caja de la parte superior de la reseña--Foto--Nombre--Estrella*/
  .resenas__box1__box1{
      display: flex;
      flex:1;
      width: 100%;
      padding: 1%;
      justify-content: space-between;
      align-content: center;
      align-items: center;
    }
    /*Caja de la parte inferior de la reseña--Texto*/
    .resenas__box1__box2{
        display:flex;
        border-radius: 10px;
        flex: 1;
        background: rgba(228, 49, 52, 0.2);
        padding: 12px;
        border: #E43134 solid 1px;
      
  }
  /*Caja interior parte de arriba--Nombre__fecha*/
  .resenas__boxtext{
      display: flex;
      width: 45%;
      flex-direction: column;
  }
  /*Caja interior superior--Nombre*/
  .resenas__box1__text1{
      display: flex;
  }  
  /*Caja interior superior--Fecha*/
  .resenas__box1__text2{
      color: var(--fourth-color);
      
  }
  /*Caja interior superio--Estrellas grupo*/
  .resenas__box1__star{
      width: 30%;
      padding-right: 30px;
      display: flex;
      justify-content: center;
  }
  /*Estrella individual*/
  .material-symbols-outlined{
      display: flex;
      justify-content: flex-start;
      color: orange;
  }
  
  /*Tamaño de la foto*/
  .img {
      object-fit: cover;
      width: 70px;
      height: 70px;
      border-radius: 60%;
  }
  .font1 {
      font-family:  var(--font-alegreya);
      font-weight: normal;
      font-style: normal;
  }
  
/* Caracteristicas del footer */
.footer__line{
    width: 100%;
    background-color: #E43134;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-items: center; 

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 920px and up) A partir de aquí cambia*/
@media only screen and (min-width: 920px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} 

/* Esenciales */
.mb{
    border: blue solid 2px;
}
.mr{
    border: red solid 2px;
}


